<ion-header [translucent]="false">
  <ion-toolbar id="mobileHeader">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <nav>
      <ul>
        <li><a [routerLink]="['/']">Home</a></li>
        <li><a (click)="contactButton()">Contact</a></li>
        <li><a [routerLink]="['/calendar']">Calendar</a></li>
        <li><a>Donate</a></li>
        <li><a>Sign Up</a></li>
      </ul>
    </nav>
      <img
        slot="end"
        id="headerLogo"
        src="../../assets/icon/icon.png"/>
  </ion-toolbar>
</ion-header>
