.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 1.5em
}

iframe {
  aspect-ratio: 2/1;
}

.smallCal {
  display: none
}

@media screen and (max-width: 1050px){
  .container{
    margin: 0
  }

  .bigCal {
    display: none
  }

  .smallCal {
    display: block
  }

  iframe {
    aspect-ratio: 1/2
  }
}