<app-header></app-header>

<ion-content>
  <div class="container">
    <iframe 
      class="bigCal"  
      src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FChicago&showTitle=0&showNav=0&showDate=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0&src=Y3JlYXRpdmVraW5nZG9taW50ZXJuYXRpb25hbEBnbWFpbC5jb20&src=ajlwbDVpMjVtOGV2amNwaDM1dWZhcnRkbDBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=YmtzNTFlMTZyNjQzOGsya2IzOWE5NTVtZTliNWxqZTNAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23039BE5&color=%23616161&color=%23D81B60" 
      style="border-width:0" 
      width="90%" 
      height="auto" 
      frameborder="0" 
      scrolling="no">
    </iframe>

    <iframe 
      class="smallCal"
      src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FChicago&showNav=0&showTitle=0&showDate=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0&mode=AGENDA&src=Y3JlYXRpdmVraW5nZG9taW50ZXJuYXRpb25hbEBnbWFpbC5jb20&src=ajlwbDVpMjVtOGV2amNwaDM1dWZhcnRkbDBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=YmtzNTFlMTZyNjQzOGsya2IzOWE5NTVtZTliNWxqZTNAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23039BE5&color=%23616161&color=%23D81B60" 
      style="border-width:0" 
      width="90%" 
      height="auto" 
      frameborder="0" 
      scrolling="no">
    </iframe>
  </div>

</ion-content>

<app-footer></app-footer>
